.footer{
    margin-top: 1rem;
    padding: 1rem;
    background-color:#404040;
    color: #FFFFFF;
    position: relative;
    width: 100%;
  }

  .copyrights{
    padding-right: 1%;
  }

  .icons8Links{
    font-size: 8px;
  }
  
  .icons8Links a{
    font-size:8px;
    color: white;
    text-decoration: none;
  }