.ProductContainer{
    background-color: white;
    box-shadow: 0px 0px 4px rgba(69, 69, 69, 0.5);
}

.PictureStyle{
    width:516px;
    height:auto;
    resize:both;
}

.TextStyle{
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #454545;
    background-blend-mode: lighten;
}