
@media only screen and (max-width:2560px)
{
    .positioning {
        margin-top: 20%;
    }

    .Title{
        margin-bottom: 5%;
        width: 100%;
        display: flex;
        align-self: center;
        justify-content: center;
        text-align: center;
        font-size: 36px;
        font-weight: bold;
        font-family: 'Redressed'; 
    }

    .Description{
        margin-bottom: 5%;
        display: flex;
        align-self: left;
        justify-content: left;
        text-align: left;
        font-size: 16px;

    }

    .Code{
        margin-top: 5%;
        width: 100%;
        display: flex;
        align-self: center;
        justify-content: center;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
    }

    .colors{
        display: inline-block;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        margin-right: 1%;
        border-color: black;
        border-width: 1px;
        border-style: solid;
        padding: 1px;
        margin-top: 2%;
        margin-left: 2%;
        text-align: center;
    }

    .colors:hover{
        border-color: white;
    }

    .ColorText{
        width: 100%;
        display: flex;
        align-self: center;
        justify-content: center;
        text-align: center;
        font-size: 20px;
        margin-bottom: 2%;
        font-weight: bold;
    }
    .SelectedDotTitle{
        width: 100%;
        display: flex;
        align-self: center;
        justify-content: center;
        text-align: center;
        font-size: 16px;
        margin-top: 5%;
        font-weight: 500;
    }
    .SizeInfo{
        width:100%;
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 2%;
    }

    .ColorDiv{
        display: flex;
        justify-content: center;
        flex-wrap: wrap; 
        width: 50%;
        margin-left: 25%;
    }
}

@media only screen and (max-width: 1200px)
{
    .positioning{
        margin-top: 5%;
    }

    .Description{
        justify-content: center;
        text-align: center;
    }

    .Code{
        margin-top: 5%;
        padding-bottom: 5%;
    }

    .colors{
        border-color:white;
    }
}