body{
    padding: 0;
    margin: 0;
}

#hidden2{
    display: none;
}
.NavbarMini{
    background-color:#C4C4C4;
    color: #FFFFFF;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    max-height: 35px;
}
#hid{
    text-align: center;
}


@media only screen and (max-width: 550px)
{
 #hid{
     display: none;
 }
 #hidden2{
     display: flex;
 }
}

