
@media only screen and (max-width:3840px)
{

}

@media only screen and (max-width:2560px)
{
    .product-carousel{
        width: 500px;
        margin-top: 10%;
    }
}

@media only screen and (max-width:1920px)
{
    .product-carousel{
        width: 500px;
        margin-top: 10%;
    }

}


