body{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

button:hover{
  cursor: pointer;
}
.Navbar .leftSide #hidden{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 230px;
  
}
.Navbar .leftSide #hidden a{
  margin: 5px;
  font-size:25px;
}

@media only screen and (max-width: 850px){
  .Navbar .leftSide .links a{
    font-size:20px;
  }
}
@media only screen and (max-width: 750px){
  .Navbar .leftSide .links a{
    font-size:15px;
  }
}
@media only screen and (max-width: 650px){
  .Navbar .leftSide button{
    display:flex;
    background-color: white; 
    border: 2px solid #72A0C1;
    text-decoration: none;
    outline:none;
    transition-duration: 0.5s;
    cursor: pointer;
    border-radius: 6px;
  }
  
  .Navbar .leftSide .links {
    display:none;
  }

  .Navbar .leftSide #hidden{
    position: absolute;
    left:0px;
    top:80px;
    height: 230px;
    width: 100%;
    background-color: #C29372;
  }
}
@media only screen and (max-width: 320px){

}